<p>assign-button works!</p>
<div>
    <input type="text" placeholder=" Enter user Name" #arr>
    <button (click)="fun1(arr)"> Add User</button>

    <table>
        <thead class=bg-light>
            <tr >
                <th>Sr.no</th>
                <th> User Name </th>
                <th> Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of list " > 
                <td></td>
                <td >{{element}}</td>
                <td>
                    <button (click)="fun2(ak )" >Delete user</button>
                </td>
            </tr>
        </tbody>   
     </table>
</div>
